# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Service account file
# ./public/self-mapping-urja-2-3002af60fbc5.json
# ./public/self-mapping-urja-84657a5b538c.json
/src/service-account.json
